table {
  border-collapse: collapse;
}
th {
  display: table-cell;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mitem-parent {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 4vh;
}

.mitem-container {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  justify-content: center;
  width: 100%;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.mitem-imgcontainer {
  width: 45%;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

.mitem-img {
  display: block;
  width: 100%;
  height: auto;
}

.mitem-tableparent {
  max-width: 620px;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 10px;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
  cursor: grab;
  user-select: none;
  position: relative;
}

.mitem-tableouter {
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
  width: 50%;

  @media only screen and (max-width: 700px) {
    margin-left: 0;
    margin-top: 30px;
    width: 85%;
  }
}

.table-head {
  width: 100%;
  display: table;
  scroll-snap-align: start;
  background-color: white;
  margin-top: 5px;
}

.mitem-desc {
  font-size: 14.5px;
  line-height: 28px;
}

.tablebody-top {
  display: table-row-group;
}

.tr-top {
  padding: 15px 0;
}

.tr-bot {
  padding: 4px 0;
}

.f500 {
  font-weight: 500;
}

.px4-888 {
  border-bottom: 4px solid #888;
}

.px1-888 {
  border-bottom: 1px solid #888;
}

.mitem-head {
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-left: -3px;

  @media only screen and (max-width: 700px) {
    text-align: center;
    margin-left: 0;
  }
}

.mitem-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.mitem-selectchild {
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 500;
}

.mitem-sel {
  font-size: 21px;
  font-weight: 500;
  border-bottom: 3px solid rgb(109, 214, 49);
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;

  &:hover > .mitem-caret {
    transform: rotate(0) !important;
  }
}

.mitem-mar {
  transition: all 0.5s ease;
}

.checkstock-button {
  width: 120px;
  height: 50px;
  background-color: rgb(109, 214, 49);
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  transition: all 0.5s ease;

  &:hover {
    border-radius: 9px;
    opacity: 0.9;
    animation: opacity 1s ease;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.9;
  }
}

.mitem-height {
  transition: all 0.5s ease;
  transform-origin: top;
  overflow: hidden;
}

.mitem-caret {
  position: relative;
  transition: 0.4s ease all;
  display: flex;
  align-items: center;
  margin-right: 8px;
  justify-content: center;

  &::before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #000;
    margin-right: -3.8px;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #000;
    margin-right: -3.8px;
    transform: rotate(-45deg);
  }
}
